body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: white;
}

.container {
    position: relative;
    height: 100%;
}

.background-image {
    width: 640px;
    height: 832px;
    position: absolute;
}

.form-container {
    position: absolute;
    width: 224px;
    top: 210px;
    right: 20px; /* Adjust as needed for proper alignment */
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 300;
}

.form-container h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid black;
    font-size: 12px;
    color: #555;
}

.account-link {
    color: black;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}
